<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  <h1>Thanks for visiting, <%= @user.username %>!</h1>
  <p>Please make sure to vote to put more women in power!</p>
  <br>
  <br>
  <h5>Warm Wishes,</h5>
  <br>
  <h6>Blessed Be The Pantsuit</h6>
    <%= yield %>
  </body>
</html>